.visioncont{
    width: 100%;
    height: 100vh;
    background: url('/visionbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    .visioncont-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 95%;
        height: 95%;

        .visioncont-info-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 150px;

            .visioncont-imgbox{
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                img{
                    width: 400px;
                    border-radius: 5px;
                }
            }

            .visioncont-textbox{
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .visioncont-textbox-wrapper{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    text-align: left;
                    gap: 40px;

                    .service-box{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 680px;
                        height: 120px;
                        background: linear-gradient(to right, #000 20%, #111 70%);
                        padding: 0 25px 0 25px;
                        border-radius: 15px;
                        gap: 10px;
                        border: 0.1px solid #fff;
        
                        -webkit-box-shadow: 0px 0px 48px -3px rgba(57, 57, 57, 1);
                        -moz-box-shadow: 0px 0px 48px -3px rgba(57, 57, 57, 1);
                        box-shadow: 0px 0px 48px -3px rgba(57, 57, 57, 1);
        
                        .title{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 7px;
        
                            h3{
                                color: #ffffff;
                                font-family: "Poppins", sans-serif;
                                font-weight: 400;
                                font-style: normal;
                                font-size: 21px;
                            }
        
                            img{
                                width: 30px;
                            }
                        }
        
                        .line{
                            width: 580px;
                            height: 0.5px;
                            background-color: #8d8d8d81;
                        }
        
                        p{
                            text-align: center;
                            color: #818181;
                            width: 600px;
                        }
                    }
                }
            }
            
        }
    }
    
}

